.autocomplete__wrapper {
  padding-top: 200px;
  margin: 0 auto;
  width: 400px;
  box-sizing: border-box;
}

.autocomplete__input {
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.autocomplete__input:focus + .autocomplete__list {
  display: block;
}

.autocomplete__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;

  &:hover {
    display: block;
  }
}

.autocomplete__item {
  border: 1px solid #000;
  font-size: 30px;

  &:hover {
    background-color: rgba(182, 169, 176, 0.5);
  }
}
